@media only screen and (min-width: 768px) {
    [class*="col-"] {
        padding: 20px;
        display: inline-block;                       
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }
    body {        
        background-color: rgb(199, 221, 229);
        font-family: 'Poppins', sans-serif;        
    }        
    .achtergrond {        
        display: block;
        background-image: url("eindhoven.jpg");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: top center;
        text-align: center;
        font-family: 'Gajraj One', cursive;
        font-size: x-large;
        height: 200px;
        padding: 5px;
        margin: 5px;
    }
    .transbox{
        display: inline-block;
        margin: 30px;
        background-color: #ffffff;
        width: 70%;        
        border: 1px solid black;
        opacity: 0.6;
    }    
    h2 {
        text-align: center;
    }
    #feitjes {        
        display: block;            
    }  
    .col-4 {
        background-color: rgb(110, 199, 232);
    } 
    #glow, #tunnel {
        max-width: 300px;
        padding: 5px;
        float: right;
    }
    p {
        display: inline;
    }
    #artikel1 {
        display: block;        
        margin: 5px;
        padding: 5px;
    }
    #artikel2 {
        display: block;        
        margin: 5px;
        padding: 5px;
    }
    footer{        
        height: 200px;
    }